{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ title }}</h1>

    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
        Minus ipsam harum recusandae dolore esse adipisci fugit 
        temporibus ad assumenda. Laudantium, ratione voluptates. 
        Esse dicta iusto, tempore est non rem incidunt quisquam consequuntur 
        recusandae, ipsam unde possimus ab vel. Quaerat, dignissimos?</p>
    <p>Ea molestiae atque ipsa, maiores quia tempore, vero illum 
        dolores alias dolorum corrupti nam velit labore at officiis 
        distinctio provident dolore? Id sit voluptatum eaque enim eveniet 
        molestiae rem minima vero mollitia maiores aliquid velit atque 
        voluptates architecto, dolores deleniti.</p>
{% endblock %}